.blog-btn
	display block
	width 100%
	color #fff
	background #4a4c5b
	outline 0
	line-height 1
	marign 0
	padding 17px 16px
	border none
	border-radius 2px
	box-sizing border-box
	text-align center
	white-space nowrap
	cursor pointer
	font-size 16px									