// 颜色规范
$color-background = #fbfcfc
$color-text-blue = #0f88eb
$color-text-h = #333
$color-text-p = gray
$color-text-l = #d9d9d9
$color-text-green = #50c87e

// 字体规范
$font-size-ss = 10px
$font-size-s = 12px
$font-size-ms = 14px
$font-size-m = 16px
$font-size-ls = 18px
$font-size-l = 22px 